<button [disabled]="isVisible" (click)="toggleForm()">New item</button>
<div  [hidden]="!isVisible">
  <form [formGroup]="itemForm" (ngSubmit)="save()">

  <input type="hidden" name="id" id="id" [formControl]="id">

  <label for="name">Name</label>
  <input type="text" name="name" id="name" [formControl]="name">

  <label for="description">Description</label>
  <input type="text" name="description" id="description" [formControl]="description">

  <label for="status">Status</label>
  <input type="text" name="status" id="status" [formControl]="status" >

  <button [disabled]="!itemForm.valid">Save</button>
</form>
</div>
