<button (click)="submitted=true">New item</button>
<div  [hidden]="submitted">
  <h1>Hero Form</h1>
  <form *ngIf="active" (ngSubmit)="onSubmit()" #itemForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel" >
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description"
             [(ngModel)]="model.description" name="description" >
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" id="status"
              required
              [(ngModel)]="model.status" name="status"
              #power="ngModel" >
        <option *ngFor="let s of status" [value]="s">{{s}}</option>
      </select>
      <div [hidden]="status.valid || status.pristine" class="alert alert-danger">
        Status is required
      </div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!itemForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="newItem()">New Item</button>
  </form>
</div>
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Description</div>
    <div class="col-xs-9 pull-left">{{ model.description }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Status</div>
    <div class="col-xs-9 pull-left">{{ model.status }}</div>
  </div>
  <br>
  <button class="btn btn-default" (click)="submitted=false">Edit</button>
</div>
