<button (click)="submitted=true">New item</button>
<div  [hidden]="submitted">
  <h1>Item Form</h1>
  <form>
    <input [(ngModel)]="model.name"
            type="text"
            id="name"
            name="name" >
            <p> valid: {{ name.valid }} </p>
            <p> value: {{ name.value }} </p>
  </form>
</div>
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Description</div>
    <div class="col-xs-9 pull-left">{{ model.description }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Status</div>
    <div class="col-xs-9 pull-left">{{ model.status }}</div>
  </div>
  <br>
  <button class="btn btn-default" (click)="submitted=false">Edit</button>
</div>
