<div>
     {{title}} - {{errorMessage}}
            <div class="new">
              <my-items-form>
              </my-items-form>
            </div>
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Detail</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td><button (click)="getItem(item.id)">Detail</button></td>
                    <td><button (click)="loadItem(item)">Update</button></td>
                    <td><button (click)="deleteItem(item.id)">Delete</button></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr colspan="3">
                    <th>items(s)</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div *ngIf="item">
              <div><h2>Detail</h2>
                {{item.name}}
              </div>
          </div>
</div>
