
{# src/Samples/BlogBundle/Resources/views/simple.html.twig #}

{% extends "PelloInventoryBundle:Default:layout.html.twig" %}
{% block title %}Inventory Sample::Detail{% endblock %}
{% block body %}
Hello, saved new Item 
 <strong>{{ item.name }}</strong>
 <div><a href="{{ path('item_index') }}">{% trans %}See all{% endtrans %}</a> </div>
{% endblock %}