
{# src/Samples/BlogBundle/Resources/views/simple.html.twig #}
{% extends "CuatrovientosArteanBundle:Default:layout.html.twig" %}
{% block title %}Artean::Save Center{% endblock %}
{% block body %}
Hello, saved new Center 
 <strong>{{ center.name }}</strong>
 <div><a href="{{ path('cuatrovientos_artean_center') }}">{% trans %}See all{% endtrans %}</a> </div>
{% endblock %}